doctype html(lang='en')
head
    meta(charset='UTF-8') 
    title Shooting Game  
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')  
    script(src='vendor/socket.io-client/socket.io.js')
    link(rel='stylesheet', href='css/style.css')   
  body
    .row
      .header   
        input.username(type='text', placeholder='Enter your name')  
        button#login.btn.btn-default Login  
        button#logout.btn.btn-default Logout   
    #container.col-xs-10
    #users.col-xs-2
      h4 users
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='js/module.js')
