body {
  background-color: #555555;
}
.header {
  margin-left: 20px;
}
.header button {
  margin-left: 10px;
  margin-right: 10px;
}
#container {
  height: 400px;
  width: 600px;
  background-color: white;
  position: relative;
  margin-left: 10px;
  /*top: 50px;*/
}
.player {
  width: 50px;
  border: 1px solid black;
  text-align: center;
  padding: 1px;
  position: absolute;
}
.player img {
  width: 100%;
}
#users {
  color: white;
}